#total{
    width: 960px;
    height: auto;
    margin: auto; /*Centraliza a divisão na pagina*/
}
#topo{
    width: 960px;
    height: auto;
    float: left;
    background-color: chocolate;
}
#logo{
    width: 200px;
    height: 60px;
    /*margin-top: 10px; top right botton left*/
    margin: 10px auto;
    background-color: #CCC;
}
#banner{
    width: 960px;
    height: 300px;
    float:  left;
    background-image: url("../imagem/banner.jpg");
}